
<div class="container">
  <div class="row"> 
    <div class="col-md-3">
      <%= render 'books/template', user: @user, book: @book %>
    </div>  
    <div class="offset-md-1">
    </div>
    <div class="col-md-8">
      <h1>Books</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Title</th>
            <th scope="col">Opinion</th>
          </tr>
        </thead>
        <% @books.each do |book| %>
        <tbody>
          <tr>
            <th scope="row"><%= image_tag @user.get_profile_image(100,100) %></th>
            <td><%= link_to book.title,book, class: "book_#{book.id}" %></td>
            <td><%= book.body %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>  