<div class="contaner">
    <div class="row">
        <div class="px-3 mx-auto">
            <h1>welcome to bookers!!</h1>
            
            <p>In <i class="fas fa-book"></i><strong>Bookers,</strong><br>
            you can shere and exchange your opinions,inpressions,and emotions about various books!</p>
            
            
            
            
            <p><%= link_to "Log in",  new_user_session_path %></p>
            
            <p><%= link_to "Sign up",  new_user_registration_path %></p>
            </div>
    </div>
</div>